<!--
File Name : bottom_nav.ejs
Student No : 301295806
Student Name : Hyewon Ham
Date : 2023.09.30
-->

<footer>
      <nav class="navbar fixed-bottom navbar-dark bg-dark">
   
    <h6 class="display-6 navbar-text">&copy; Copyright Comp 229 - 301295806 - Hyewon Ham</h6>
    </div>
    </nav>
  </footer>
