<!--
File Name : contact_form.ejs
Student No : 301295806
Student Name : Hyewon Ham
Date : 2023.09.30
-->

<div class="form">
    <!--information input-->
        <form action="../#" target="_blank" method="get">
            <label>First Name</label>
            <input type="text" placeholder="First Name" size="20" name="txtFn"  id="txtFn" required/>
            <br>
            <label>Last Name</label>
            <input type="text" placeholder="Last Name"size="20"  name="txtLn"  id="txtLn" required/>
            <br>
            <label>E-mail</label>
            <input type="email" placeholder="E-mail" size="30"  name="txtEmail"  id="txtEmail" required/>
            <br>
            <label>Comment</label>
            <textarea placeholder="Any comments?" size="100" rows="4"  name="txtComment"  id="txtComment"></textarea>
            <br>
            <input type="submit" value="submit" class="btnSubmit"></a>
        </form>
    </div>