<!--
File Name : contact_info.ejs
Student No : 301295806
Student Name : Hyewon Ham
Date : 2023.09.30
-->

<div class="contact">
    <!--contact-->
    <h1>Contact</h1>
    <p>Hyewon Ham</p>
    <p>Email : hhan29@my.centennialcollege.ca</p>
    <p>Phone : 647-877-9588</p>
</div>