<!--
File Name : footer.ejs
Student No : 301295806
Student Name : Hyewon Ham
Date : 2023.09.30
-->

<script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>