<!--
File Name : mission.ejs
Student No : 301295806
Student Name : Hyewon Ham
Date : 2023.09.30
-->

<div class="statement">
    <!--name,mission statement-->
    <h2>HW</h2>
    <p>I aspire to learn new things to make a better life.</p>
</div>