<!--
File Name : pages.ejs
Student No : 301295806
Student Name : Hyewon Ham
Date : 2023.09.30
-->
<div class="pages">
    <!--Buttons redirecting to pages-->
    <button><a class="nav-link" href="/aboutme">About me</a></button>
    <button><a class="nav-link" href="/projects">Projects</a></button>
    <button><a class="nav-link" href="/services">Services</a></button>
    <button><a class="nav-link" href="/contact">Contact</a></button>
</div>