<!--
File Name : profile_picture.ejs
Student No : 301295806
Student Name : Hyewon Ham
Date : 2023.09.30
-->

<div class="picture">
    <!--picture-->
    <img src="/img/photo.jpg" class="pic" alt="myself" style: width="50%"; height="80%">
</div>