<!--
File Name : profile_description.ejs
Student No : 301295806
Student Name : Hyewon Ham
Date : 2023.09.30
-->

<div class="aboutme">
    <!--description-->
    <h1>Hyewon Ham : This is me.</h1>
    <ul>
        <li><p>Full Stack Software Developer</p></li>
        <li><p>Responsible Team Player</p></li>
        <li><p>Traveller</p></li>
        <li><p>I like getting idea from inconvenience in daily lives.</p></li>
        <li><p>I am interested in learning new languages.</p></li>
    </ul>
    <div class="profile-link">
        <!--profile links-->
        <a href="/Assets/HyewonHam_Resume.pdf"><img src="/img/resume.png" class="resume"alt="resume" style: width="30%"; height="30%"></a>
        <a href="https://www.linkedin.com/in/hyewon-ham/"><img src="/img/linkedin.png" class="linkedin"alt="linkedin" style: width="30%"; height="30%"></a>
    </div>
</div>