<!--
File Name : projects.ejs
Student No : 301295806
Student Name : Hyewon Ham
Date : 2023.09.30
-->

<div class="projects">
    <h1>My Projects</h1>
    <br>
    <!--shows projects-->
    <div class="project">
        <div class="screen">
            <img src="/img/slideshow.png" alt="slide" width="60%" height="60%">
        </div>
        <div class="description">
            <p>Interactive Slideshow - Group Project</p>
            <p>This website shows the picture of places for vacation.<br>
            It allows user to see the pictures in the slide,<br>
            see bigger picture in new window when clicked,
            add favorite pictures(maximum 5),
            and remove favorites.</p>
            <span>Role</span>
            <ul>
                <li>Implemented Add Favorites</li>
                <li>Created show zoomed photo</li>
                <li>Developed remove from favorites</li>
            </ul>
            <br>
            <a href="http://studentweb.cencol.ca/hhan29/comp125/Assignment2/Assignment2.html">
                <button class="btnDemo">Demo</button>
            </a>
        </div>
    </div>
    <div class="project">
        <div class="screen">
            <img src="/img/monster.png" alt="monster" width="60%" height="60%">
        </div>
        <div class="description">
            <p>Monster Hunter - Group Project</p>
            <p>This website allows the user to play monster hunting game.<br>
            The user gets points once they click on the monster.
            Whenever the user catches the monster,<br>
            the speed of the monster movement gets faster.<br>
            Users may reset monster's speed and their scores.
            </p>
            <span>Role</span>
            <ul>
                <li>Implemented Speed Updates</li>
                <li>Created Monster Relocation</li>
                <li>Debugged Click location issue</li>
            </ul>
            <br>
            <a href="http://studentweb.cencol.ca/hhan29/comp125/Assignment3_v08/Assignment3_v08/index.html">
                <button class="btnDemo">Demo</button>
            </a>
        </div>
    </div>
    <div class="project">
        <div class="screen">
            <img src="/img/pizza.png" alt="slide" width="60%" height="60%">
        </div>
        <div class="description">
            <p>Ham Pizza - Pizza Order System</p>
            <p>This program allows the user to order pizza by entering information and choices.</p>
            <ul>
                <li>Validates the input if the user entered right format of information.</li>
                <li>If the user inputs wrong data, it shows the message to re-enter it.</li>
                <li>A special discount will be applied when they choose special offer.</li>
                <li>Right panel shows the user's input when they place order.</li>
            </ul>
            <span>Role</span>
            <ul>
                <li>Designed User Interface</li>
                <li>Implemented Functional Requirements</li>
                <li>Managed with Exception Handling.</li>
            </ul>
            <br>
            <a href="/Assets/Ham_Pizza.mp4">
                <button class="btnDemo">Demo</button>
            </a>
        </div>
    </div>
    <div class="project">
        <div class="screen">
            <img src="/img/shoeslocker.jpg" alt="slide" width="60%" height="60%">
        </div>
        <div class="description">
            <p>Shoes Locker - Shoes Resell Web Application</p>
            <p>This application allows the user to buy and resell shoes.</p>
            <ul>
                <li>Allows registration, update, and delete user profile</li>
                <li>User can upload the product if the user is a seller.</li>
                <li>User can add a product to the cart and check out.</li>
            </ul>
            <span>Role</span>
            <ul>
                <li>Backend development</li>
                <li>Troubleshooting</li>
                <li>Deployment</li>
                <li>Project Management</li>
            </ul>
            <br>
            <a href="https://shoe-locker.onrender.com/">
                <button class="btnDemo">Demo</button>
            </a>
        </div>
    </div>
</div>