<!--
File Name : services.ejs
Student No : 301295806
Student Name : Hyewon Ham
Date : 2023.09.30
-->

<div class="services">
    <h1>Services</h1>
    <div class="rows">
        <div class="service">
            <div class="image">
                <img src="/img/programming.jpg" alt="code" width="400px" height="400px">
            </div>
            <div class="description">
                <span>General Programming</span>
                <p>C • C# • JAVA • Python • MongoDB • AzureSQL</p>
            </div>
        </div>
        <div class="service">
            <div class="image">
                <img src="/img/web.jpg" alt="web" width="400px" height="400px">
            </div>
            <div class="description">
                <span>Web Development</span>
                <p>Javascript • NextJS • React • TypeScript • Tailwind</p>
            </div>
        </div>
    </div>
    <div class="rows">
        <div class="service">
            <div class="image">
                <img src="/img/mobile.jpg" alt="code" width="400px" height="400px">
            </div>
            <div class="description">
                <span>Mobile App Development</span>
                <p>Android Application Development - JAVA • Kotlin</p>
            </div>
        </div>
        <br>
        <div class="service">
            <div class="image">
                <img src="/img/pi.jpg" alt="code" width="400px" height="400px">
            </div>
            <div class="description">
                <span>IoT</span>
                <p>Arduino • Raspberry Pi</p>
            </div>
        </div>
    </div>
</div>